<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>
<body>

<b>Welcome to Java dev</b>

<h1 align="center" style="color: blue">Spring boot</h1>
<h2>Spring boot 2</h2>
<h3>Spring boot 3</h3>
<h4>Spring boot 4</h4>

<img src="springboot.png" alt="Spring boot image">

<ul>
  <li> JAVA </li>
  <li> MVC </li>
  <li> ORM </li>
</ul>

<a href="https://amazon.com"> Amazon </a>
<br>
<br>

<table>

  <tr>
    <td> FirstName </td>
    <td> LastName </td>
    <td> Salary </td>
  </tr>

  <tr>
    <td> Mike </td>
    <td> Last </td>
    <td> 100k </td>
  </tr>
</table>

<br>
<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password" id="password">
<br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>
<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male"> Male
<input type="radio" name="gender" value="female"> Female
<input type="radio" name="gender" value="other"> Other
<br>

<label>Please select your favorite course: </label>
<input type="checkbox" name="course" value="spring"> Spring
<input type="checkbox" name="course" value="DS"> DS
<input type="checkbox" name="course" value="JAVA"> Java

<br>
<label>Select your program</label>
<select>
  <option value="Prime" > Prime </option>
  <option value="Student" > Student </option>
  <option value="Regular" > Regular </option>
</select>

<form action="#" method="get">
  Firstname: <input type="text" name="first_name">
  <br>
  Lastname: <input type="text" name="last_name">
  <br>
  <input type="button" value="submit">
</form>
<br>
<br>
<div style="background-color: aqua">
  <h3> Java Developer </h3>
  <ul>
    <li>Spring</li>
    <li>Data Structure</li>
  </ul>

</div>


</body>
</html>